/* Main Containers */
.main-container {
  background: linear-gradient(
    90deg,
    rgba(194, 47, 166, 1) 0%,
    rgba(115, 255, 251, 1) 100%
  );
  display: flex;
  justify-content: center;
  padding: 30px;
}
.insert-contacts-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.list-container {
  background-color: rgba(110, 108, 108, 0.6);
  box-shadow: 2px 5px 32px rgba(100, 99, 99, 0.5);
  height: 95vh;
  width: 60%;
  border-radius: 10px;
}

/* Sub Containers */
.modal-container {
  position: relative;
  background-color: rgba(110, 108, 108, 0.95);
  padding: 20px;
  border-radius: 10px;
  width: 50%;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message-container {
  margin-top: 10px;
  color: white;
  text-align: center;
}
.search-bar-container {
  margin-top: 5px;
  display: flex;
}
.contact-item-details-container {
  display: flex;
  align-items: center;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
}
.contact-item-edit-delete-view-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.developer-contact-details-container {
  width: 250px;
  background-color: rgba(110, 108, 108, 0.6);
  padding: 5px;
  text-align: center;
  border-radius: 50px;
  position: fixed;
  bottom: 20px;
  right: 5px;
  display: flex;
  flex-direction: column;
}
.contact-details-container {
  margin-left: 5px;
}
.insert-image-container {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 50%;
}
.image-upload-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

/* Button containers */
.refresh-add-user-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.btn-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
/*Other Elements */
.text-field {
  color: black;
  height: 25px;
  width: 70%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  outline: 0;
  border-radius: 10px;
}
h3 {
  margin: 0;
  padding-top: 20px;
  text-align: center;
  font-size: 24px;
  color: white;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0 15px;
  max-height: 70vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ccc #fff;
}
ul::-webkit-scrollbar {
  width: 6px;
}
ul::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

ul::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
li {
  background-color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-bar-input {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 15px;
  border: none;
  outline: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
}
.developer-contact-details {
  color: white;
  font-weight: 400;
  font-size: 14px;
}
.list-picture {
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 5px;
  object-fit: cover;
}

/* Buttons */
.add-user-btn {
  color: white;
  margin-right: 20px;
  padding: 10px;
  border: none;
  outline: 0;
  background-color: transparent;
  transition: transform 0.2s ease-in-out;
}
.add-user-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.add-user-btn:active {
  color: black;
}
.refresh-btn {
  color: white;
  padding: 10px;
  border: none;
  outline: 0;
  background-color: transparent;
  transition: transform 0.2s ease-in-out;
}
.refresh-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.refresh-btn:active {
  color: black;
}
.btn {
  background-color: rgba(211, 211, 211, 0.521);
  padding: 10px;
  border: none;
  border-radius: 50%;
  margin-left: 5px;
}
.btn:hover {
  cursor: pointer;
}
.btn:active {
  background-color: black;
  color: white;
}
.save-btn {
  padding: 15px;
  border: none;
  background-color: #008cba;
  color: white;
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif;
  border-radius: 10px;
  margin: 20px 0;
  width: 72%;
}

.save-btn:hover {
  cursor: pointer;
}
.save-btn:active {
  color: black;
}
.modal-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 25px;
  background-color: transparent;
  border: none;
}
.modal-close-button:hover {
  color: white;
  cursor: pointer;
}
/* Profile picture */
.profile-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.image-preview {
  position: relative;
  height: 100%;
  width: 100%;
}

.image-preview img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-preview label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  color: #333;
  cursor: pointer;
}

#file-upload {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
@media (max-width: 430px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .list-container {
    width: 100%;
  }
  .modal-container {
    width: 70%;
  }
  .contact-details-container {
    font-size: 12px;
  }
  .icon{
    font-size: 11px;
  }
}

@media (max-width: 830px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .list-container {
    width: 100%;
  }
}
